body {
  background-color: #fcfc62;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.counter {
  margin: auto;
  border: 2px solid black;
  width: 500px;
  height: 250px;
  padding: 30px 20px;
  background: #feffea;
  border-radius: 5px;
}

.counter h2 {
  margin-top: -15px;
}

.count {
  margin-top: 25px;
  font-size: 2.5rem;
}

.add-btn,
.sub-btn {
  margin-top: 20px;
}
